.user-fields {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}

.user-fields .field-item {
    border: 2px solid var(--border-brown);
    border-bottom-width: 5px;
    height: var(--field-item-height);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover img {
        scale: 1.05;
    }
}

.user-fields .field-item .field-seed-name {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
    font-size: 13px;
    background-color: var(--main-text-color);
    color: var(--input-bg-pastel-blue);
    padding: 4px 7px;
    border-radius: 11px;
}

.user-fields .field-item .field-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.user-fields .field-item .field-progress {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4px);
    height: 5px;
    border-radius: 5px;
    border: solid 1px var(--border-brown);
    background-color: var(--brown-bg-light);
    z-index: 2;
}

.user-fields .field-item .field-progress .progress-bar {
    background-color: var(--foeld-progress-bg);
    height: 4px;
    border-radius: 8px;
}

.user-fields .field-item .seed-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.user-fields .field-item .collect-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: opacity .5s;
    display: none;
}

.user-fields .collect-btn.show-collect-btn {
    display: block;
}

.add-new-field {
    height: var(--field-item-height);
    border: 2px dashed var(--border-brown);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brown-bg-light);
    overflow: hidden;
    cursor: pointer;

    &:hover img {
        scale: 1.05;

    }
}

.add-new-field img {
    width: 100%;
    height: 100%;
    position-anchor: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: scale .3s;
}

.add-new-field .add-new-field-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    z-index: 2;
}

.add-new-field .add-new-field-inner span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--input-bg-pastel-blue);
}

.add-new-field .add-new-field-inner svg {
    stroke: var(--input-bg-pastel-blue);
}
