header {
    height: 60px;
    border-bottom: solid 3px var(--white);
    border-bottom: solid 3px var(--border-color-green-pastel);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--main-bg);
    z-index: 9999;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.user-info .user-avatar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.user-info .user-avatar img {
    border: solid 2px var(--focused-border-color-light);
    border-radius: 50%;
    height: 45px;
}

.user-info .user-level {
    font-size: 28px;
    font-weight: bold;
    color: var(--focused-border-color-light);
}

.user-info .user-money {
    border: solid 2px var(--border-brown);
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    border-bottom-width: 4px;
}

.user-info .user-money svg {
    stroke: var(--border-brown);
}

.footer-tab-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--main-bg);
    border-top: solid 3px var(--border-color-green-pastel);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    padding: 5px;
    gap: 15px;
    z-index: 999;
}

.footer-tab-nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-tab-nav .tab-nav {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: solid 4px transparent;
    width: 50px;
    height: 50px;

    &:hover {
        /*color: var(--focused-border-color-dark);*/
        background-color: var(--taf-hover-bg);
        border-bottom: solid 4px var(--taf-hover-bg-dark);
    }
}

.footer-tab-nav .tab-nav.active {
    color: var(--focused-border-color-dark);
    background-color: var(--focused-border-color-lighter);
    border-bottom: solid 4px var(--focused-border-color-dark);
}
