.auth-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-header h1 {
    font-size: 42px;
    font-weight: bold;
    color: var(--focused-border-color);
}

.auth-header svg {

}

.auth-header .auth-header-icon {
    padding: 20px;
    border: 5px solid var(--light-gray);
    background-color: var(--focused-border-color);
    border-radius: 15px;
}

.auth-header .auth-header-icon svg {
    stroke: var(--white);
}

.login-form {
    border-radius: 20px;
    border: 3px solid var(--border-brown);
    background-color: var(--white);
    padding: 20px;
}

.register-form {
    margin-top: 30px;
}

.auth-avatar-container {
    padding: 20px;
}

.auth-avatar-container .inner-auth-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-avatar-container .inner-auth-avatar-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: dashed 5px var(--border-patel-green);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        border-color: var(--focused-border-color);
    }

}


.auth-avatar-container .inner-auth-avatar-container label svg {
    stroke: var(--border-patel-green);
    transition: 0.3s;
}

.auth-avatar-container .inner-auth-avatar-container label:hover svg {
    stroke: var(--focused-border-color) !important;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-row label {
    color: var(--border-brown);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-row input {
    height: 50px;
    padding: 15px;
    font-size: 16px;
    color: var(--border-patel-green);
    border: solid 2px var(--border-patel-green);
    border-radius: 10px;
    background-color: var(--input-bg-pastel-blue);
    position: relative;
    outline: none;
}


.input-row .nested-icon {
    position: relative;
    height: 50px;
    display: flex;
    width: 100%;
}

.input-row .nested-icon input {
    padding-left: 50px;
    position: absolute;
    width: 100%;
    color: var(--main-text-color);

    &:focus {
        border-color: var(--focused-border-color);
    }
}

.input-row:has(.nested-icon input:focus) svg {
    stroke: var(--focused-border-color);
}

.input-row .nested-icon svg {
    position: absolute;
    bottom: 12px;
    left: 15px;
    color: var(--border-patel-green);
}

.gender-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gender-items .gender-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: solid 3px var(--border-patel-green);
    border-radius: 10px;
    background-color: var(--input-bg-pastel-blue);
    color: var(--main-text-color);
    cursor: pointer;

    transition: all .3s ease;

    &:hover {
        background-color: var(--focused-border-color-lighter);
    }
}

.gender-items .gender-item:has(input[type="radio"]:checked) {
    background-color: var(--focused-border-color-lighter);
    border-color: var(--focused-border-color-light);
}

.error-msg {
    font-size: 14px;
    margin-top: 5px;
    color: var(--error-color);
}


.btn {
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
    background-color: var(--input-bg-pastel-blue);

    &:hover {
        background: var(--focused-border-color);
        color: var(--white);
    }
}

.btn.sm {
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
}

.btn.success {
    background: var(--focused-border-color);
    color: var(--white);

    &:hover {
        background: var(--focused-border-color-light);
    }
}

.btn.info {
    background: var(--border-brown);
    color: var(--white);

    &:hover {
        background: var(--brown-bg-light);
        color: var(--border-brown);
    }
}

.btn.g-btn {
    background: var(--white);
    height: 57px;
    border: solid 3px var(--border-brown);
    border-bottom: solid 7px var(--border-brown);
    color: var(--main-text-color);
    transition: all 0.1s;

    &:active {
        background: var(--white);
        color: var(--main-text-color);
        border: solid 3px var(--border-brown);
        margin-top: 4px;
        height: 53px;
    }
}

.btn.icon-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn.icon-btn img {
    height: 25px;
}


.text-rl-lines {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--border-patel-green);
    margin: 30px 0;
}

.text-rl-lines span:not(:nth-child(2)) {
    flex: 1;
    height: 2px;
    background: var(--border-patel-green);
    border-bottom: solid 1px var(--border-patel-green);
}

.link {
    font-size: 18px;
    color: var(--focused-border-color);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.login-register-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.label-have-right-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label-have-right-text .right-text {
    margin-left: auto;
}

.user-energy {

}

.user-energy .user-energy-progress-bar {
    height: 20px;
    border-radius: 10px;
    border: solid 2px var(--border-patel-green);
    margin-bottom: 20px;
    background-color: var(--input-bg-pastel-blue);
}

.user-energy .user-energy-progress-bar .user-energy-progress {
    height: 16px;
    background-color: var(--focused-border-color-light);
    border-radius: 10px;
}


.user-energy-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.user-energy-info > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    color: var(--focused-border-color);
}

.user-energy-info > div:nth-child(2) {
    margin-left: auto;
    color: var(--focused-border-color);
    font-weight: bold;
    font-size: 18px;
}


.page-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.page-loading .loading-protect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.page-loading .loading-protect img {
    height: 70px;
}


.ReactModal__Overlay {
    z-index: 99999;
}

.ReactModal__Content {
    background-color: var(--brown-bg-light) !important;
}

.ReactModal__Content {
    padding-right: 5px !important;
}

.ReactModal__Content .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.modal-container {
    width: 100vw;
    max-width: 800px;
    margin-top: 20px;
    height: calc(100vh - 100px);
    padding-right: 10px;
    overflow: auto;
}

.close-modal {
    cursor: pointer;
}


.confirm-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--brown-bg-light-op);
    padding: 20px;
}

.confirm-modal .inner-confirm-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--taf-hover-bg);
    border: solid 2px var(--taf-hover-bg-dark);
    padding: 20px;
    border-radius: 10px;
}

.confirm-modal h2 {
    font-size: 22px;
}

.modal-desc {
    font-size: 14px !important;
    margin-bottom: 10px;
}

.toast-container{
    z-index: 999999 !important;
}