.login-form {
    border-radius: 20px;
    border: 3px solid var(--border-brown);
    background-color: var(--white);
    padding: 20px;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-row label {
    color: var(--border-brown);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-row input {
    height: 50px;
    padding: 15px;
    font-size: 16px;
    color: var(--border-patel-green);
    border: solid 2px var(--border-patel-green);
    border-radius: 10px;
    background-color: var(--input-bg-pastel-blue);
    position: relative;
    outline: none;
}


.input-row .nested-icon {
    position: relative;
    height: 50px;
    display: flex;
    width: 100%;
}

.input-row .nested-icon input {
    padding-left: 50px;
    position: absolute;
    width: 100%;
    color: var(--main-text-color);

    &:focus {
        border-color: var(--focused-border-color);
    }
}

.input-row:has(.nested-icon input:focus) svg {
    stroke: var(--focused-border-color);
}

.input-row .nested-icon svg {
    position: absolute;
    bottom: 12px;
    left: 15px;
    color: var(--border-patel-green);
}

.gender-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gender-items .gender-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: solid 3px var(--border-patel-green);
    border-radius: 10px;
    background-color: var(--input-bg-pastel-blue);
    color: var(--main-text-color);
    cursor: pointer;

    transition: all .3s ease;
    &:hover {
        background-color: var(--focused-border-color-lighter);
    }
}

.gender-items .gender-item:has(input[type="radio"]:checked) {
    background-color: var(--focused-border-color-lighter);
    border-color: var(--focused-border-color-light);
}

.error-msg {
    font-size: 14px;
    margin-top: 5px;
    color: var(--error-color);
}


.btn {
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    background-color: var(--input-bg-pastel-blue);

    &:hover {
        background: var(--focused-border-color);
        color: var(--white);
    }
}

.btn.success {
    background: var(--focused-border-color);
    color: var(--white);

    &:hover {
        background: var(--focused-border-color-light);
    }
}

.btn.g-btn {
    background: var(--white);
    height: 57px;
    border: solid 3px var(--border-brown);
    border-bottom: solid 7px var(--border-brown);
    color: var(--main-text-color);
    transition: all 0.1s;

    &:active {
        background: var(--white);
        color: var(--main-text-color);
        border: solid 3px var(--border-brown);
        margin-top: 4px;
        height: 53px;
    }
}

.btn.icon-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn.icon-btn img {
    height: 25px;
}


.text-rl-lines {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--border-patel-green);
    margin: 30px 0;
}

.text-rl-lines span:not(:nth-child(2)) {
    flex: 1;
    height: 2px;
    background: var(--border-patel-green);
    border-bottom: solid 1px var(--border-patel-green);
}

.link {
    font-size: 18px;
    color: var(--focused-border-color);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.login-register-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.label-have-right-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label-have-right-text .right-text {
    margin-left: auto;
}
