@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Londrina+Shadow&display=swap');

.roboto-normal {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --white: #fff;

    --main-bg: #fffbeb;
    --main-text-color: #3d4a3d;


    --border-brown: #944a23;
    --brown-bg-light: #e3e0df;
    --brown-bg-light-op: rgb(227 224 223 / 0.8);

    --border-patel-green: rgb(188 203 185);
    --input-bg-pastel-blue: rgb(236 245 251);
    --focused-border-color-dark: #004c20;
    --focused-border-color: #006e2f;
    --focused-border-color-light: #02853a;
    --focused-border-color-lighter: #0db555;

    --border-color-green-pastel: #6d7b6c;

    --light-gray: #818181;
    --gray: #3c3c3c;


    --taf-hover-bg: rgb(224 233 239);
    --taf-hover-bg-dark: rgb(159 168 174);
    --error-color: #ba1a1a;

    --foeld-progress-bg: #fd9e70;

    --field-item-height: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: var(--main-bg);
    color: var(--main-text-color);
}

#root {
    width: 100%;
    min-height: 100%;
    /*max-width: 440px;*/
    background: var(--main-bg);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.main-layout {
    width: 100%;
    min-height: 100%;
    max-width: 440px;
    padding: 20px;
    margin: 0 auto 70px;
}

.page-title {
    font-size: 26px;
    margin-bottom: 10px;
}

.inner-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.bold {
    font-weight: bold;
}


.w-100 {
    width: 100%;
}

/*Font sizes*/
.fs-14 {
    font-size: 14px;
}

/*Font sizes*/


/*Margins*/
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

/*Margins*/

.d-none {
    display: none;
}