@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Londrina+Shadow&display=swap');

.roboto-normal {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --white: #fff;

    --gark-bg: #0c0c0c;
    --dark-gray: #131313;
    --gark-1-gray: #171717;
    --gray: #232323;
    --light-gray: #474747;
    --lightest-gray: #c4c4c4;

    --green-lightest: #c2ffd5;
    --green-light: #b0ffc9;
    --green: #558f66;
    --green-dark: #235e35;
    --green-darkest: #163e22;


    --blue-lightest: #c2faff;
    --blue-light: #a0f9ff;
    --blue: #3dccd8;
    --blue-dark: #2398a1;
    --blue-darkest: #0f666c;

    --yellow: #ffd53b;

    --error-lightest-color: #f3dddd;
    --error-light-color: #efbdbd;
    --error-color: #c85757;


    --warn-lightest-color: #fff3cd;
    --warn-light-color: #ffecb5;
    --warn-color: #664d03;


    --green-dark-op: rgba(35, 94, 53, 0.47);
    --green-lightest-op: rgb(194 255 213 / 0.55);
    --light-gray-op: rgba(71, 71, 71, 0.3);
    --warn-light-color-op: rgba(255, 236, 181, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--green-lightest);
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: var(--dark-gray);
}

#root {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--gark-bg);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}


.w-100 {
    width: 100%;
}

/*Font sizes*/
.fs-14 {
    font-size: 14px;
}

/*Font sizes*/


/*Margins*/
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

/*Margins*/